<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated polycreate -->
      <package
            uri="http://www.example.org/polycreate"
            class="fr.univcotedazur.webots.polycreate.PolycreatePackage"
            genModel="model/polycreate.genmodel"/>
   </extension>

</plugin>
